* {
    box-sizing: border-box;
}
body {
    background-color: rgb(15, 15, 15);
    color: white;
    margin: 0;
    box-shad;
}

.container {
   background-image: url(images/homeapge.jpg);
   background-size: cover;
   height: 100vh;

}

.cccc {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #fcfcfc;
    border-radius: 50%;
    padding: 10px;
    
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fcfcfc;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }