@font-face {
    font-family: Anton;
    src: url(fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: FivoOblique;
    src: url(fonts/fivo-sans.oblique.otf);
}
@font-face {
    font-family: Fivo;
    src: url(fonts/fivo-sans.regular.otf);
}
@font-face {
    font-family: FivoBold;
    src: url(fonts/fivo-sans.bold.otf);
}

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(15, 15, 15);
     color: rgb(228, 206, 206);
    margin: 0;
}

li {
    list-style: none;
}

a {
     color: rgb(228, 206, 206);
     text-decoration: none;
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}


.nav-link {
    transition: 0.7s;
}

.nav-link:hover {
    color: red;
}

.nav-item {
    margin: 16px 0;  
    font-size: 1.5em;  
    font-family: Anton;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-menu.active {
    left: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    margin: auto 80px;
}


.date, .location {
    font-family: Anton;
    font-size: 3em;
}

.date {

    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;

}

.location {
    
    display: flex;
    justify-content: flex-end;
    grid-column: 3/4;
    grid-row: 1/2;
    
    
}
.artists, .stages {
    font-family: FivoOblique;
    font-size: 3em;
}

.artists {
    grid-column: 1/2;
    grid-row: 3/4;     
}
.stages {
    display: flex;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 3/4;
}

.festival { 
    
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.festival-name {
    font-size: 5em;
}

.container {
   background-image: url(images/homeapge.jpg);
   background-size: cover;
}



.burgerBtn {
    width: 65px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    color: rgb(73, 72, 72);
    border: 8px solid rgb(73, 72, 72);
    border-radius: 50%;
    padding: 8px;
    bottom: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.bar {
    width: 100%;
    height: 3px;
    background-color: rgb(73, 72, 72);
    transition: all 0.8s;
}
  
.change .bar1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.ticket-burger {
  bottom: 850px;
  right: 30px;  
  color: rgb(230, 97, 143);  
  border-color: rgb(230, 97, 143);
}

.ticket-bar {
    background-color: rgb(230, 97, 143);   
}

.grid-ticket {
    border: 3px solid rgb(228, 206, 206);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 200px);
    margin: 100px 100px;
}

.three-day, .two-day, .one-day, .vip {
    border: 3px solid rgb(228, 206, 206);
}

.two-day {
    grid-row: 2/3;
}

.nine {
    grid-column: 2/3;
    grid-row: 3/4;
}

.vip {
    grid-column: 1/2;
    grid-row: 3/4;  
}

.pass {
    font-size: 3em;
}

.ticket-btn {
    border: 4px solid rgb(230, 97, 143);
    border-radius: 75px;
    width: 150px;
    height: 50px;
    background-color: black;
    color: rgb(230, 97, 143);
    font-family: Anton;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.day {
  font-size: 2em;  
}

.one-day, .vip, .two-day, .three-day {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.ticket {
    font-size: 4em;
}

.title-ticket {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}